<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
  <ClientConfig>
    <informationProviderGLN>0147124578102</informationProviderGLN>
    <informationProviderName>Ryan's Foods</informationProviderName>
    <manufacturerGLN>0147124578102</manufacturerGLN>
    <manufacturerName>Ryan's Foods</manufacturerName>
   </ClientConfig>
</Configuration>